What is Pandas?
Pandas is a powerful, open-source Python library used for data manipulation, cleaning, and analysis. It provides two main data structures:

Series: A one-dimensional labeled array
DataFrame: A two-dimensional labeled table (like an Excel sheet or SQL table)
Pandas makes working with structured data fast, expressive, and flexible.

If you're working with tables, spreadsheets, or CSVs in Pythonâ€”Pandas is your best friend.
Why Use Pandas?
Task	Without Pandas	With Pandas
Load a CSV	open() + loops	pd.read_csv()
Filter rows	Custom loop logic	df[df["col"] > 5]
Group & summarize	Manual aggregation	df.groupby()
Merge two datasets	Nested loops	pd.merge()
Pandas saves time, reduces code, and increases readability.



## ðŸ§  Core Data Structures in Pandas

Pandas is centered around two powerful data structures:

### ðŸ”¹ Series â€” 1D Labeled Array

* Represents a **single column** of data.
* Functions like a list, but with **custom or default index labels**.
* Useful for handling one-dimensional data with context (labels).

### ðŸ”¹ DataFrame â€” 2D Labeled Table

* Represents a **full table** with rows and columns.
* Internally, it's a **collection of Series** sharing the same index.
* Mimics a spreadsheet or SQL table structure.

---

### ðŸ”‘ Index and Labels

* Both Series and DataFrames have an **Index**, which:

  * Enables fast data lookups
  * Aligns data during operations
  * Facilitates merging, joining, and time series tasks
* Column names (labels) define the structure of a DataFrame.

You can **customize index and column labels** to make data more meaningful.

---

### ðŸš€ Why These Matter

Understanding Series and DataFrames deeply is essential because:

* **All major Pandas operations** like selection, filtering, merging, and aggregation rely on them.
* Mastering these makes advanced data manipulation simpler and more intuitive.

---

### ðŸ“Œ Summary

| Structure     | Shape      | Description                          |
| ------------- | ---------- | ------------------------------------ |
| **Series**    | 1D (n,)    | Labeled array (like a single column) |
| **DataFrame** | 2D (n x m) | Table with rows and columns          |

These two structures form the **foundation of all data handling in Pandas**.

---

Would you like this formatted as a Markdown file for GitHub?

In [1]:
pip install pandas

Defaulting to user installation because normal site-packages is not writeableNote: you may need to restart the kernel to use updated packages.

Requirement already satisfied: pandas in c:\programdata\anaconda3\lib\site-packages (2.1.4)
Requirement already satisfied: numpy<2,>=1.23.2 in c:\programdata\anaconda3\lib\site-packages (from pandas) (1.26.4)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\programdata\anaconda3\lib\site-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in c:\programdata\anaconda3\lib\site-packages (from pandas) (2023.3.post1)
Requirement already satisfied: tzdata>=2022.1 in c:\programdata\anaconda3\lib\site-packages (from pandas) (2023.3)
Requirement already satisfied: six>=1.5 in c:\programdata\anaconda3\lib\site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)

In [2]:
import pandas as pd

In [5]:
import pandas as pd
s = pd.Series([71, 90, 81, 77])
print(s)
##auto inde4x

0    71
1    90
2    81
3    77
dtype: int64

In [18]:
s2 = pd.Series([71, 90, 81, 77], index=["esha", "kirti", "revati", "rabbit"])
print(s2)

esha      71
kirti     90
revati    81
rabbit    77
dtype: int64

In [19]:
s2["esha"]

71

In [31]:
data={
    "name":["esha", "useless", "pagal"],
    "age":[25, 40, 90],
    "city":["kuna", "mental", "hospital"]
}

In [32]:
print(data)

{'name': ['esha', 'useless', 'pagal'], 'age': [25, 40, 90], 'city': ['kuna', 'mental', 'hospital']}

In [36]:
df=pd.DataFrame(data)

In [37]:
df.index

RangeIndex(start=0, stop=3, step=1)

In [35]:
df.columns

Index(['name', 'age', 'city'], dtype='object')

In [38]:
df

      name  age      city
0     esha   25      kuna
1  useless   40    mental
2    pagal   90  hospital