

## üìÅ Working with CSV, Excel, and JSON Files in Pandas

Pandas simplifies reading from and writing to various file formats such as **CSV**, **Excel**, and **JSON**, making data handling seamless in data analysis workflows.

---

### üü° CSV Files

**Reading CSVs**

* Load tabular data from `.csv` files into DataFrames.
* You can choose specific columns, limit the number of rows, or handle delimiters, headers, and missing values with optional parameters.

**Writing CSVs**

* Export DataFrames to `.csv` format.
* Index inclusion can be controlled, making it easier to match formats or prepare clean outputs.

---

### üîµ Excel Files

**Reading Excel Files**

* Supports reading `.xlsx` and `.xls` formats.
* You can specify the sheet name when working with multi-sheet workbooks.

**Writing Excel Files**

* Allows saving data to Excel format.
* Supports writing to multiple sheets using a single Excel writer context.

---

### üü¢ JSON Files

**Reading JSON Files**

* Parses JSON-formatted data into structured DataFrames.
* Useful for working with nested data from web APIs or configuration files.

---

### üìù Summary

* Use `read_*` methods (like `read_csv`, `read_excel`, `read_json`) to import data into DataFrames.
* Use `to_*` methods (like `to_csv`, `to_excel`) to export data from DataFrames.
* Control output structure using parameters like `index`, `sheet_name`, and more.
* Handling file I/O is essential for real-world data analysis and reporting.

---

import pandas as pd

In [3]:
df = pd.read_csv("cleaning.csv")

In [4]:
df

      Name   Age         City Gender              Email   Join Date
0    Alice  25.0     New York      F  alice@example.com  01-05-2021
1  Charlie   NaN        Delhi      M    charlie@example  20-07-2021
2      Bob  30.0  Los Angeles      M    bob@example.com  15-06-2020
3  Charlie   NaN        Delhi      M    charlie@example  20-07-2021
4    David  22.0       Mumbai      M  david@example.com  12-11-2019
5      NaN  28.0        Delhi      F     eve@domain.com         NaN
6    Alice  25.0     New York      F  alice@example.com  01-05-2021
7    Alice  25.0     New York      F  alice@example.com  01-05-2021
8  Charlie   NaN        Delhi      M    charlie@example  20-07-2021

In [14]:
df=df[df["Age"]>23]

In [15]:
df

    Name   Age         City Gender              Email   Join Date
0  Alice  25.0     New York      F  alice@example.com  01-05-2021
2    Bob  30.0  Los Angeles      M    bob@example.com  15-06-2020
5    NaN  28.0        Delhi      F     eve@domain.com         NaN
6  Alice  25.0     New York      F  alice@example.com  01-05-2021
7  Alice  25.0     New York      F  alice@example.com  01-05-2021

In [16]:
df.to_csv("cleaning_updated.csv")

In [17]:
df.to_csv("cleaning_updated.csv",index=False)

In [18]:
df = pd.read_excel("book1.xlsx")

pd.read_excel("book1.xlsx")

In [25]:
df.to_excel("book1.xlsx")

In [26]:
df.to_csv("book2_updated.csv",index=False)

with pd.ExcelWriter("book1.xlsx") as writer:
    df1.to_excel(writer, sheet_name="Summary", index=False)
    df2.to_excel(writer, sheet_name="Details", index=False)

df = pd.package_json("data.json")